<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="team7.sa43.gogulsell">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewCategories">
        </activity>
        <activity android:name=".CreatePost">
        </activity>
        <activity
            android:name=".ListPostsActivity"
            android:theme="@style/AppThemeCheat">
        </activity>
        <activity android:name=".OneItemDetail">
        </activity>
        <activity android:name=".ViewMyPosts" android:theme="@style/AppThemeCheat">
        </activity>
    </application>

</manifest>